@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Quicksand:wght@400;600;700&display=swap");

* {
  font-family: "Poppins", arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #ffffff;
  scroll-behavior: smooth;
}

nav {
  z-index: 100;
  border-width: 1px;
  background-color: #161515;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wrapper {
  padding: 1em;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-logo {
  padding-left: 2em;
  text-transform: uppercase;
}

.name-logo span {
  padding-right: 1em;
}

.link-nav ul li {
  display: inline;
}

.link-nav li,
.link-nav a {
  margin-right: 2em;
  text-decoration: none;
  list-style-type: none;
  justify-content: center;
}

.link-nav ul li div {
  display: inline-flex;
  background-color: white;
  margin-right: 2em;
  padding: 0.5em 0.7em;
  border-radius: 12px;
}

.link-nav ul li div span {
  color: #bc4b15;
  padding-right: 0.7em;
}
